@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}

/* body{
    padding: 0 200px 0 200px
} */

#header{
    display: flex;
    align-items: center;
    background-color: rgb(168, 166, 166);
    justify-content: space-evenly;
    padding: 10px;
}

#search{
    width: 300px;
}

.btn{
    color: white;
    background-color: rgb(97, 97, 245);
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    width: auto;
    padding: 5px 10px 5px 10px;
}

.likeBtn{
    color: black;
    background-color: rgb(240, 213, 93);
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    width: auto;
    padding: 5px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: black; */
    display: flex;
}

.ninja{
    width: 450px;
    height: 175px;
    border: 2px solid black;
    margin: 25px;
    display: flex;
}


.ninjaCol1{
    width: 170px;
    margin: auto;
    text-align: center;
}

.ninjaCol2{
    width: 330px;
    margin: auto;
    text-align: center;
    padding-right: 20px;
}

#col2{
    border: 2px solid black;
    height: 150px;
    width: 250px;
    margin: 25px;
}

#secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addDef{
    color: black;
    background-color: rgb(134, 174, 127);
    text-align: center;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    width: auto;
    padding: 7px 40px;
    margin-top: 15px;
    font-size: 1.2em;
}

.popupContainer{
    visibility: hidden;
    width: 150px;
    height: fit-content;
    position: fixed;
    left: 369px;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
    background-color: white;
}

#popup{
    text-align: center;
    border-top: 2px solid black;
    margin-top: 5px;
    padding-top: 10px;
}
